{% extends "/admin/layout.html" %}

{% block title %}Phrase du jour{% endblock %}

{% block content %}
	<div class="row">
		<div class="twelve columns">
  		<h2 class="text-center">Liste des phrases du jour <small><a href="/admin/blog/quotes/add/">Créer</a></small></h2>
  		<hr/>
		</div>

  	<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Date</th>
					<th>Ville</th>
					<th>Pays</th>
					<th>Phrase</th>
					<th>Auteur</th>
					<th>Giphy</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			
			</tbody>
		</table>
	</div>
{% endblock %}