{% extends "blog/layout.html" %}

{% block title %}Blog-Anecdote{% endblock %}

{% block content %}

<div style="margin-bottom: 200px;">
  <div id="quotes-blue-cloud" style="margin:150px 850px auto auto;display:block">
    <span id="quotes-blue-rounds">
      <a class="cloud-title quotes-cloud-title" href="/blog/">Accueil</a>
    </span>
  </div>

  <div id="anecdotes-blue-cloud" style="margin:-190px 350px auto auto;display:block">
    <span id="anecdotes-blue-rounds">
      <a class="cloud-title anecdotes-cloud-title" href="/blog/quote-of-day/">Phrase du jour</a>
    </span>
  </div>

  <div id="impressions-blue-cloud" style="margin:100px 95px auto auto;display:block">
    <span id="impressions-blue-rounds">
      <a class="cloud-title impressions-cloud-title" href="/blog/impressions/">Impressions</a>
    </span>
  </div>

  <div class="blog-title" style="width: 205px; height: auto;">
    <h1 style="font-size:50px">Anecdotes</h1>
  </div>
</div>

{% if anecdotes is not empty %}

  {% for anecdote in anecdotes %}
    <div class="row">
      <div class="twelve columns" style="text-align:center">
		    <h5>{{ anecdote.date|date('d/m/y') }}</h5>
		    <img alt="{{ anecdote.anecdote|raw }}" src="{{ anecdote.image }}">
		    <p style="font-family:'Arial', sans-serif !important;">"{{ anecdote.anecdote|raw }}"</p>
		  </div>
    </div>

    {% if loop.last != true %}
      <div class="row">
        <div class="centered four columns">
          <hr></hr>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <!-- Pagination -->
  <div class="row">
    <div class="centered ten columns">
      {% if actualPage != 1 %}
        <a href="/blog/anecdotes/?page={{ actualPage - 1 }}" class="paginate"><i class="icon-left-thin"></i>Précédent</a>
      {% endif %}

      {% if maxPage != actualPage %}
        <a href="/blog/anecdotes/?page={{ actualPage + 1 }}" style="float:right" class="paginate">Suivant<i class="icon-right-thin"></i></a>
      {% endif %}
    </div>
  </div>
{% else %}
  <div class="row">
    <div class="twelve columns" style="text-align:center">
      <h5>Aucune anecdotes n'a été ajoutée.</h5>
    </div>
  </div>
{% endif %}

{% endblock %}

