{% extends "blog/layout.html" %}

{% block title %}Blog-Impressions{% endblock %}

{% block content %}

<div style="margin-bottom: 200px;">
  <div id="quotes-blue-cloud" style="margin:150px 850px auto auto;display:block">
    <span id="quotes-blue-rounds">
      <a class="cloud-title quotes-cloud-title" href="/blog/">Accueil</a>
    </span>
  </div>

  <div id="anecdotes-blue-cloud" style="margin:-190px 350px auto auto;display:block">
    <span id="anecdotes-blue-rounds">
      <a class="cloud-title anecdotes-cloud-title" href="/blog/quote-of-day/">Phrase du jour</a>
    </span>
  </div>

  <div id="impressions-blue-cloud" style="margin:100px 95px auto auto;display:block">
    <span id="impressions-blue-rounds">
      <a class="cloud-title impressions-cloud-title" href="/blog/anecdotes/">Anecdotes</a>
    </span>
  </div>

  <div class="blog-title" style="width: 240px; height: auto;">
    <h1 style="font-size:50px">Impressions</h1>
  </div>
</div>

<div class="row">

  <div class="twelve columns" style="margin-top:30px">
    {% if impressions is not empty %}

      {% for impression in impressions %}
        <div class="row" style="border:1px solid #fff">
          <div class="three columns">
            <img alt="{{ impression.title }}" src="{{ impression.image }}">
            <p style="font-family:'Arial', sans-serif !important; text-align:center;font-size: 13px;">{{ impression.date_formatted }} à {{ impression.city }} <br />
            0 commentaire(s)</p>
          </div>
          <div class="nine columns">
            <p><a class="impression-title" href="/blog/impressions/{{ impression.id }}/" style="font-family:'Cookie', sans-serif !important;font-size: 40px;">{{ impression.title }}</a></p>
            <p style="font-family:'Cookie', sans-serif !important;font-style:italic; font-size:25px">"{{ impression.description }}"</p>
          </div>
        </div>

        {% if loop.last != true %}
          <div class="row">
            <div class="centered nine columns">
              <hr></hr>
            </div>
          </div>
        {% endif %}
      {% endfor %}

      <!-- Pagination -->
      <div class="row">
        <div class="centered ten columns">
          {% if actualPage != 1 %}
            <a href="/blog/impressions/?page={{ actualPage - 1 }}" class="paginate"><i class="icon-left-thin"></i>Précédent</a>
          {% endif %}

          {% if maxPage != actualPage %}
            <a href="/blog/impressions/?page={{ actualPage + 1 }}" style="float:right" class="paginate">Suivant<i class="icon-right-thin"></i></a>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="twelve columns" style="text-align:center">
          <h5>Aucune impression n'a été ajoutée.</h5>
        </div>
      </div>
    {% endif %}

  </div>

</div>

{% endblock %}

