{% extends "blog/layout.html" %}

{% block title %}Blog-{{ impression.title }}{% endblock %}

{% block content %}

<div style="margin-bottom: 200px;">
  <div id="quotes-blue-cloud" style="margin:150px 850px auto auto;display:block">
    <span id="quotes-blue-rounds">
      <a class="cloud-title quotes-cloud-title" href="/blog/">Accueil</a>
    </span>
  </div>

  <div id="anecdotes-blue-cloud" style="margin:-190px 350px auto auto;display:block">
    <span id="anecdotes-blue-rounds">
      <a class="cloud-title anecdotes-cloud-title" href="/blog/quote-of-day/">Phrase du jour</a>
    </span>
  </div>

  <div id="impressions-blue-cloud" style="margin:100px 95px auto auto;display:block">
    <span id="impressions-blue-rounds">
      <a class="cloud-title impressions-cloud-title" href="/blog/anecdotes/">Anecdotes</a>
    </span>
  </div>

  <div class="blog-title" style="width: 240px; height: auto;">
    <h1 style="font-size:50px">Impressions</h1>
  </div>
</div>

<div class="row">

  <div class="centered nine columns" style="margin-top:30px">
  	<h1 style="font-family:'Cookie', sans-serif !important;font-size: 60px;text-align:center;">{{ impression.title }}</h1>

  	<legend style="font-family:'Cookie', sans-serif !important;font-size:27px;text-align:center;">"{{ impression.description }}"</legend>

  	<br/>

  	<div class="impression-family">
	  	{{ impression.impression|raw }}
	 	</div>

		<p style="font-family:'Cookie', sans-serif !important; font-size: 22px; color: #2193CC;">par {{ impression.author }}, le {{ impression.date_formatted }} à {{ impression.city }}</p>

		{% if previousImpression != false %}
			<span><a class="impression-previous-link" href="/blog/impressions/{{ previousImpression.id }}/"><i class="icon-left-thin" style="font-size: 35px; text-align:left"></i> <span style="font-size:13px">Préc.</span></a></span>
		{% endif %}

		{% if nextImpression != false %} 
			<span style="float:right"><a class="impression-next-link" href="/blog/impressions/{{ nextImpression.id }}/"><span style="font-size:13px">Suiv.</span> <i class="icon-right-thin" style="font-size: 35px;"></i></a></span>
		{% endif %}

  </div>

  <div class="row">
		<div class="centered four columns">
			<hr></hr>
		</div>
	</div>

	<div class="row">
		<div class="centered nine columns">
			<p style="text-align:center;">
				<a href="#" class="switch comment-link" gumby-trigger="#commentModal">Commenter</a>
			</p>
		</div>
	</div>

	<div class="centered nine columns">
  	<h4 style="text-align:center;">{{ comments|length }} commentaire(s)</h4>

  	{% if comments is not empty %}
  		<div class="row">
				<div class="centered four columns">
					<hr></hr>
				</div>
			</div>
  		{% for comment in comments %}
				<div class="row">
					<div class="centered nine columns" style="text-align:center;">
						<p>{{ comment.name }} - {{ comment.date|date('d/m/Y à H:i:s') }}</p>
						<p style="text-align:justify">{{ comment.comment }}</p>
					</div>
				</div>

				{% if loop.last != true %}
		      <div class="row">
		        <div class="centered four columns">
		          <hr></hr>
		        </div>
		      </div>
		    {% endif %}
			{% endfor %}

		{% endif %}	
		<div class="row">
			<div class="centered four columns">
				<hr></hr>
			</div>
		</div>

  </div>

	<!-- MODAL Comment -->
	<div class="modal" id="commentModal">
	  <div class="content">
	    <a class="close switch" gumby-trigger="|#commentModal"><i class="icon-cancel" /></i></a>
	    <div class="row">
	      <div class="ten columns centered text-center">
	        <h2>Écrire un commentaire</h2>
	        <hr/>
	        <form method="POST" id="form-add-comment">
	        	<ul>
		        	<li class="field">
						    <input class="input normal" name="name" id="name" type="text" placeholder="Nom" />
						  </li>
						  <li class="prepend field">
						  	<span class="adjoined">@</span>
						    <input class="input normal email" name="email" id="email" type="text" placeholder="Email" />
						  </li>
						  <li class="field">
						  	<textarea class="input textarea" name="comment" id="comment" placeholder="Votre commentaire"></textarea>
						  </li>
						</ul>
	        </form>
	        <p class="btn success medium">
	        	<a id="add-comment" data-id="{{ impression.id }}">Ajouter</a>
	        	<div id="comment-loader" class="spinner loader-hidden">
						  <div class="bounce1"></div>
						  <div class="bounce2"></div>
						  <div class="bounce3"></div>
						</div>
	        </p>
	      </div>
	    </div>
	  </div>
	</div>


</div>

{% endblock %}

