{% extends "blog/layout.html" %}

{% block title %}Blog{% endblock %}

{% block content %}

<div style="margin-bottom: 200px;">
  <div id="quotes-green-cloud" style="margin:150px 850px auto auto;display:block">
    <span id="quotes-green-rounds">
      <a class="cloud-title quotes-cloud-title" href="/blog/quote-of-day/">Phrases du jour</a>
    </span>
  </div>

  <div id="anecdotes-green-cloud" style="margin:-190px 350px auto auto;display:block">
    <span id="anecdotes-green-rounds">
      <a class="cloud-title anecdotes-cloud-title" href="/blog/anecdotes/">Anecdotes</a>
    </span>
  </div>

  <div id="impressions-green-cloud" style="margin:100px 95px auto auto;display:block">
    <span id="impressions-green-rounds">
      <a class="cloud-title impressions-cloud-title" href="/blog/impressions/">Impressions</a>
    </span>
  </div>

  <div class="blog-title">
    <h1>Blog</h1>
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="twelve columns" style="border: 6px solid #00FFCC; padding: 20px">
    <h5>A propos de nous : Lily & Mimy, globetrotters en herbe.</h5>
    <p style="font-family:'Arial', sans-serif !important; text-align:justify">Nous souhaitons partager avec vous les photos de nos voyages, voir <a href="/">ici</a>, mais pas seulement. Nous allons vous donner nos impressions (bonnes ou mauvaises), anecdotes, phrases du jour, fous rires et conseils, si nous le pouvons, on ne sait jamais. Vous remarquerez que nous sommes un peu organisé et que nos voyages durent environ 3 semaines, une seule raison nous travaillons le reste du temps.</p>
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="push_six six columns">
    <div style="border: 6px solid #00FFCC; padding: 20px; height:315px; max-height:315px">
      <p>Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions Impressions</p>
    </div>
    
  </div>

  <div class="pull_six six columns">
    <div class="row" style="margin-bottom: 20px;">
      <div class="twelve columns" style="border: 6px solid #00FFCC; padding: 20px; height:135px; max-height:135px">
        <h5>{{ quote.date|date('d/m/y') }} - {{ quote.city }} - {{ quote.country }}</h5>
        <p style="font-family:'Arial', sans-serif !important;">"{{ quote.quote }}" - by {{ quote.author }}</p>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns" style="border: 6px solid #00FFCC; padding: 20px; height:160px; max-height:160px">
        <p>Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes Anecdoctes </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

