{% extends "blog/layout.html" %}

{% block title %}Blog{% endblock %}

{% block content %}

<div id="cloud" style="margin:150px 850px auto auto;display:block"><span id="rounds"><a style="margin:0px;text-align:center;display:block" href="/blog/quote-of-day/">Phrases du jour</a></span></div>

<div id="cloud" style="margin:-190px 350px auto auto;display:block"><span id="rounds"><a style="margin:0px;text-align:center;display:block" href="/blog/anecdotes/">Anecdotes</a></span></div>

<div id="cloud" style="margin:100px 95px auto auto;display:block"><span id="rounds"><a style="margin:0px;text-align:center;display:block" href="/blog/impressions/">Impressions</a></span></div>

<div style="margin:-120px auto; width:350px; height:120px;display:block;text-align:center;position:relative"><h1>Blog</h1></div>

{% endblock %}

