{% extends "blog/layout.html" %}

{% block title %}Blog-Phrase du jour{% endblock %}

{% block content %}

<div style="margin-bottom: 200px;">
  <div id="quotes-blue-cloud" style="margin:150px 850px auto auto;display:block">
    <span id="quotes-blue-rounds">
      <a class="cloud-title quotes-cloud-title" href="/blog/">Accueil</a>
    </span>
  </div>

  <div id="anecdotes-blue-cloud" style="margin:-190px 350px auto auto;display:block">
    <span id="anecdotes-blue-rounds">
      <a class="cloud-title anecdotes-cloud-title" href="/blog/anecdotes/">Anecdotes</a>
    </span>
  </div>

  <div id="impressions-blue-cloud" style="margin:100px 95px auto auto;display:block">
    <span id="impressions-blue-rounds">
      <a class="cloud-title impressions-cloud-title" href="/blog/impressions/">Impressions</a>
    </span>
  </div>

  <div class="blog-title" style="width: 190px; height: auto;">
    <h1 style="font-size:50px">La Phrase du jour</h1>
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">

  <div class="twelve columns" style="text-align:center">
    <h5>26/04/15 - Ville - Pays</h5>
    <p style="font-family:'Arial', sans-serif !important;">"Today is a good day." - by Mimy</p>
    <iframe src="//giphy.com/embed/ODy29v7YAJrck?html5=true" width="480" height="269" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
</div>

<div class="row">
	<div class="centered four columns">
		<hr></hr>
	</div>
</div>

<div class="row">
	<div class="twelve columns" style="text-align:center">
    <h5>26/04/15 - Ville - Pays</h5>
    <p style="font-family:'Arial', sans-serif !important;">"Today is a good day." - by Mimy</p>
    <iframe src="//giphy.com/embed/knoyQk1X5Dfwc?html5=true" width="480" height="201" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>

</div>

{% endblock %}

