{% extends "layout.html" %}

{% block title %}À Propos{% endblock %}

{% block content %}
	<div class="example-grid">
		<div class="parallax" gumby-parallax="0.5">
			<div class="row">
				<div class="centered ten columns" align="center">
					<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="centered six columns" align="center">
				<ul>
				  <li class="prepend field">
				    <span class="adjoined">@</span>
				    <input class="xwide text input" type="text" placeholder="Adresse Email" />
				  </li>
				  <li class="field">
				    <textarea class="xwide input textarea" placeholder="Message"></textarea>
				  </li>
				</ul>
				<fieldset>
				  <legend>Fieldset with legend</legend>
				  <ul>
				    <li class="field">
				      <label class="inline" for="text1">Label 1</label>
				      <input class="wide text input" id="text1" type="text" placeholder="wide input" />
				    </li>
				    <li class="field">
				      <label class="inline" for="text2">Label 2</label>
				      <input class="wide password input" id="text2" type="password" placeholder="wide input" />
				    </li>
				  </ul>
				</fieldset>
			</div>
		</div>
	</div>
{% endblock %}